<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" name="MyApp" packages="">
  <appenders>
    <File name="MyFile" fileName="logs/app.log">
      <PatternLayout>
        <pattern>%d %p %C{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>
    <Console name="MyFile" target="SYSTEM_OUT">
      <PatternLayout pattern="%msg%n"/>
    </Console>
  </appenders>
  
  <loggers>
    <root level="debug">
      <appender-ref ref="MyFile"/>
    </root>
  </loggers>
</configuration>
